Source: lets-enc
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.1

Package: python3-lets-enc
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Simple Let's Encrypt client
 This is a simple, no-frills client for Let's Encrypt.
 .
 It will not set up a directory to server your
 domain's .well-known/lets-encrypt/ URL, that's up to you.
 .
 Nor will it manage key permissions and whatnot.
